<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sobre - Space Shooter</title>
  </head>
  <body>
    <h1>Sobre o Jogo Space Shooter</h1>
    <p>Space Shooter é um jogo clássico de naves espaciais onde o jogador enfrenta ondas de inimigos no espaço sideral. O objetivo é sobreviver o maior tempo possível e conquistar a maior pontuação!</p>
    <img src="/img/spaceship.jpg" alt="Nave espacial" width="400">
  </body>
</html>
