<h2>{{title}}</h2>
<p>Bem-vindo à aplicação Express com TypeScript + Handlebars!</p>
<ul>
  <li><a href="/hb1">Exemplo hb1 ({{mensagem}})</a></li>
  <li><a href="/hb2">Exemplo hb2 (#if)</a></li>
  <li><a href="/hb3">Exemplo hb3 (#each)</a></li>
  <li><a href="/hb4">Exemplo hb4 (helper customizado)</a></li>
  <li><a href="/lorem/3">Exemplo /lorem/3</a></li>
</ul>
