<div class="container mt-5">
  <h2 class="mb-4">Tecnologias baseadas no Node.js:</h2>
  <div class="card">
    <div class="card-body">
      {{{listNodeTechnologies technologies}}}
    </div>
  </div>
</div>
