<form action="/major/create" method="POST">
  <label>Nome:</label>
  <input type="text" name="name" required>

  <label>Sigla:</label>
  <input type="text" name="code" maxlength="4" required>

  <label>Descrição:</label>
  <textarea name="description" required></textarea>

  <button type="submit">Enviar</button>
</form>
