<div class="container mt-5">
  <h1 class="mb-4">Sobre o Jogo Space Shooter</h1>

  <p class="lead">
    Space Shooter é um jogo clássico de naves espaciais onde o jogador enfrenta ondas de inimigos no espaço sideral.
    O objetivo é sobreviver o maior tempo possível e conquistar a maior pontuação!
  </p>

  <div class="text-center mt-4">
    <img src="/img/spaceship.jpg" alt="Nave espacial" class="img-fluid rounded shadow" style="max-width: 400px;">
  </div>
</div>
