<div class="container mt-5">
  <h2 class="mb-4">{{title}}</h2>

  <p class="lead">Bem-vindo à aplicação Express com TypeScript + Handlebars!</p>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="/hb1">Exemplo hb1 ({{mensagem}})</a>
    </li>
    <li class="list-group-item">
      <a href="/hb2">Exemplo hb2 (#if)</a>
    </li>
    <li class="list-group-item">
      <a href="/hb3">Exemplo hb3 (#each)</a>
    </li>
    <li class="list-group-item">
      <a href="/hb4">Exemplo hb4 (helper customizado)</a>
    </li>
    <li class="list-group-item">
      <a href="/lorem/3">Exemplo /lorem/3</a>
    </li>
  </ul>
</div>
