<form action="/major/create" method="post">
  <input type="text" name="name" placeholder="Nome" required />
  <input type="text" name="code" placeholder="Código" required />
  <textarea name="description" placeholder="Descrição"></textarea>
  <button type="submit">Salvar</button>
</form>
