<div class="container mt-5" style="max-width: 600px;">
  <h2 class="mb-4">Criar Novo Usuário</h2>

  <form action="/user/create" method="POST">
    <div class="mb-3">
      <label for="fullname" class="form-label">Nome completo</label>
      <input type="text" class="form-control" id="fullname" name="fullname" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Repetir Senha</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>

    <div class="mb-3">
      <label for="major_id" class="form-label">Curso</label>
      <select class="form-select" id="major_id" name="major_id" required>
        {{#each majors}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
