<h2>Criar Novo Usuário</h2>
<form action="/user/create" method="POST">
  <label>Nome completo:</label>
  <input type="text" name="fullname" required><br>

  <label>Email:</label>
  <input type="email" name="email" required><br>

  <label>Senha:</label>
  <input type="password" name="password" required><br>

  <label>Repetir Senha:</label>
  <input type="password" name="confirmPassword" required><br>

  <label>Curso:</label>
  <select name="major_id" required>
    {{#each majors}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select><br><br>

  <button type="submit">Cadastrar</button>
</form>
